body {
	font-family: Arial, sans-serif;
	background-color: #b6d3e6;
	color: #fff;
	margin: 0;
	padding-bottom: 150px;
	line-height: 1.6;
}

.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

header {
	background: #cecece;
	color: #fff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #77b300 3px solid;
}

header a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	padding: 10px 15px;
	margin: 0 10px;
	display: inline-block;
}

header ul {
	padding: 0;
	list-style: none;
}

header li {
	float: left;
	display: inline;
}

header nav {
	float: left;
	margin-top: 10px;
}

header .highlight,
header .current a {
	color: #6be619;
	font-weight: bold;
}

header a:hover {
	color: #6be619;
	font-weight: bold;
}

section {
	padding: 20px 0;
	border-bottom: ##6be619 1px solid;
}

footer {
	position: fixed;
	bottom: 0;
	padding: 20px;
	margin-top: 20px;
	color: #6be619;
	background-color: #fff;
	text-align: center;
	width: 100%;
}

h1,
h2,
h3 {
	margin: 0;
	padding-bottom: 10px;
}

ul {
	list-style-type: none;
}

a {
	color: #fff;
}

a:hover {
	color: #fff;
}

.project {
	margin-bottom: 20px;
}