body {
	font-family: Arial, sans-serif;
	background-color: #798081;
	color: #fff;
	margin: 0;
	padding: 0;
@@ -14,7 +14,7 @@ body {
	}
	

	header {
	background: #798081;
	color: #fff;
	padding-top: 30px;
	min-height: 70px;
@@ -50,20 +50,20 @@ header .highlight, header .current a {
	}
	

	header a:hover {
	color: #798081;
	font-weight: bold;
	}
	

	section {
	padding: 20px 0;
	border-bottom: #fff 1px solid;
	}
	

	footer {
	padding: 20px;
	margin-top: 20px;
	color: #fff;
	background-color:#798081 ;
	text-align: center;
	}
	

@@ -77,11 +77,11 @@ ul {
	}
	

	a {
	color: #fff ;
	}
	

	a:hover {
	color: #798081;
	}
	

	.project {
@@ -96,4 +96,4 @@ a:hover {
	width: 100%;
	padding: 10px 0;
	}
	}

